/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Typography
*/

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: local('Lato'), url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: local('Lato Bold'), url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: local('Lato Italic'), url('../fonts/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: local('Lato Light'), url('../fonts/Lato-Light.ttf') format('truetype');
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 100%;
  font-family: "Lato", Roboto, "DejaVu Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  text-rendering: optimizelegibility;
}

p {
  font-size: 0.95rem;
  margin-top: 1rem;
}

p.image {
  margin-top: 0;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 { font-size: 1.5rem; }
h2 { font-size: 1.25rem; }
h3 { font-size: 1.1875rem; }
h4 { font-size: 1.125rem; }
h5 { font-size: 1rem; }
h6 { font-size: 1rem; }

  @media screen and (min-width: 40em) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.9375rem; }
    h3 { font-size: 1.5625rem; }
    h4 { font-size: 1.125rem; }
    h5 { font-size: 1rem; }
    h6 { font-size: 1rem; }
  }

em, i {
  font-style: italic;
  line-height: inherit; }

strong, b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 80%;
  line-height: inherit; }
  
/* General
*/

body { background-color: #fefefe;}

a {
  color: #620b0b;
  text-decoration: none;
}
a:hover,
a:focus,
a:visited { color: #b31515; }

img {
  display: inline-block;
  height: auto;
  max-width: initial;
  width: 100%;
  vertical-align: middle;
}

/* Layout
   Rows and columns adapted from Foundation
   http://foundation.zurb.com
*/

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

.row {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto; }
  .row::before, .row::after {
    content: ' ';
    display: table; }
  .row::after {
    clear: both; }

.column {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  width: 100%;
  float: left; }
  @media screen and (min-width: 40em) {
    .column {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  .column:last-child:not(:first-child) {
    float: right; }
  .column.end:last-child:last-child {
    float: left; }
  }

.small-1  { width: 8.33333%; }
.small-2  { width: 16.66667%; }
.small-3  { width: 25%; }
.small-4  { width: 33.33333%; }
.small-5  { width: 41.66667%; }
.small-6  { width: 50%; }
.small-7  { width: 58.33333%; }
.small-8  { width: 66.66667%; }
.small-9  { width: 75%; }
.small-10 { width: 83.33333%; }
.small-11 { width: 91.66667%; }
.small-12 { width: 100%; }

@media screen and (min-width: 40em) {
  .medium-1  { width: 8.33333%; }
  .medium-2  { width: 16.66667%; }
  .medium-3  { width: 25%; }
  .medium-4  { width: 33.33333%; }
  .medium-5  { width: 41.66667%; }
  .medium-6  { width: 50%; }
  .medium-7  { width: 58.33333%; }
  .medium-8  { width: 66.66667%; }
  .medium-9  { width: 75%; }
  .medium-10 { width: 83.33333%; }
  .medium-11 { width: 91.66667%; }
  .medium-12 { width: 100%; }
}

@media screen and (min-width: 64em) {
  .large-1  { width: 8.33333%; }
  .large-2  { width: 16.66667%; }
  .large-3  { width: 25%; }
  .large-4  { width: 33.33333%; }
  .large-5  { width: 41.66667%; }
  .large-6  { width: 50%; }
  .large-7  { width: 58.33333%; }
  .large-8  { width: 66.66667%; }
  .large-9  { width: 75%; }
  .large-10 { width: 83.33333%; }
  .large-11 { width: 91.66667%; }
  .large-12 { width: 100%; }
}

#navbar {
  padding: 1rem 0 0.5rem;
}

#navbar .row {
  text-align: right;
}

#navbar ul {
  display: inline-block;
  font-size: 0.8rem;
  line-height: 1;
  font-weight: 700;
}

#navbar ul li {
  display: inline-block;
  list-style-type: none;
}

#navbar li a {
  display: inline-block;
  text-decoration: none;
  padding: 0.65rem;
}

#navbar li a:focus,
#navbar li a:visited { color: #620b0b; }

#navbar #lang {
  font-size: 0.7rem;
  letter-spacing: 1px;
}

#navbar #lang li:first-child a,
#navbar #lang li:first-child span {
  border-radius: 2px 0 0 2px;
}

#navbar #lang li:last-child a,
#navbar #lang li:last-child span {
  border-radius: 0 2px 2px 0;
}

#navbar #lang li a {
  color: #333;
  padding: 0.3rem 0.5rem;
  border: 1px solid #ddd;
}

#navbar #lang li a:hover {
  color: #620b0b;
  border-color: #ccc;
}

#navbar #lang li span {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: 1px solid #ddd;
  background-color: #ddd;
  color: #b31515;
}

#home {
  background-color: #fff;
  padding: 3rem 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#header {
  margin-bottom: 2rem;
}

#header h1 span {
  font-weight: 400;
  vertical-align: middle;
  display: inline-block;
}

#header h1 small {
  font-size: 1rem;
  font-weight: 400;
  display: block;
}

#header h1 img {
  display: inline-block;
  width: 100px;
  height: auto;
  margin-right: 0.75rem;
}

#home p {
  color: #666;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
}

#projects {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
 
#projects .project + .project {
  margin-top: 4rem;
}

#projects .project .slick-slider {
  padding-bottom: 0.5rem;
}

#projects ul.details {
  font-size: 0.875rem;
  color: #888;
  list-style-type: none;
  margin-top: 1rem;
}

#projects ul.details li {
  margin-bottom: 0.2rem;
}

#projects ul.details li:last-child {
  margin-top: 1.25rem;
  margin-bottom: 0;
}

#projects span.text-title {
  color: #ccc;
  text-transform: uppercase;
  font-size: 85%;
}

.row .column h4:first-child {
  color: #ccc2b8;
  margin-bottom: 1rem;  
}

#about {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#about .intro > p {
  max-width: 75%;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

#about .bios .medium-6 {
  text-align: center;
}

#about .bios p.image img {
  display: block;
  width: 120px;
  height: auto;
  border-radius: 50%;
  margin: 1rem auto;
}

#about .bios p.details {
  font-size: 0.75rem;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin-top: 0.2rem;
}

#about .bios p.details span {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

#about .bios ul {
  font-size: 0.75rem;
  line-height: 1;
  display: block;
  list-style-type: none;
  margin-top: 0.75rem;
}

#about .bios li {
  display: inline-block;
}

#about .bios li a {
  display: inline-block;
  padding: 0.25rem;
  margin: 0 0.25rem;
}


#about .bios li.web a {
  padding-left: 15px;
  background: transparent url('../img/web_small.png') no-repeat 0 center;
}

#about .bios li.twitter a {
  padding-left: 15px;
  background: transparent url('../img/twitter_small.png') no-repeat 0 center;
}

#about .bios li.github a {
  padding-left: 15px;
  background: transparent url('../img/github_small.png') no-repeat 0 center;
}

#contact p + p {
  border-top: 1px solid #ddd;
  padding-top: 0.45rem;
}

#contact p span {
  display: block;
}

#contact p span img {
    width: 12px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

#footer {
  padding: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

#footer p {
  text-align: center;
}

@media screen and (min-width: 40em) {
  #footer p  {
    width: 75%;
    margin: 1rem auto;
  }
}

#footer p small {
  font-size: 0.8rem;
}

#footer p a {
  font-weight: 700;
}

#footer p a:focus,
#footer p a:visited { color: #620b0b; }


/* Form
*/

::-webkit-input-placeholder { color: #969ba6; }
::-moz-placeholder          { color: #969ba6; }
:-ms-input-placeholder      { color: #969ba6; }

form {
  padding: 1.5rem 0;
}

form p {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

form label {
  font-size: 0.875rem;
  font-family: "Lato", Roboto, "DejaVu Sans", Arial, sans-serif;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 0.875rem;
  color: #333;
  background-color: #fefefe;
  box-shadow: 0;
  border-radius: 4px;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none; }

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, 
textarea:focus {
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    outline: none;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

textarea {
  max-width: 100%; }
  textarea[rows] {
    height: auto; }

.button {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  font-family: inherit;
  color: #2c373a;
  background-color: #cacaca;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.75rem 1rem;
  margin: 0 0 1rem;
  text-align: center;
  transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
  vertical-align: middle;
}

.button:hover, .button:focus {
  background-color: #888;
}

.input-group {
  display: table;
  width: 100%;
  margin-bottom: 1rem; }
  .input-group > :first-child,
  .input-group > input:first-child {
    border-radius: 3px 0 0 3px; }
  .input-group > :last-child > *,
  .input-group > button:last-child {
    border-radius: 0 3px 3px 0; }

.input-group-field, .input-group-button {
  display: table-cell;
  margin: 0;
  vertical-align: middle; }

.input-group-field {
  border-radius: 0;
  height: 2.5rem; }

.input-group-button {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  width: 1%; }
  .input-group-button a,
  .input-group-button input,
  .input-group-button button {
    margin: 0; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 39.9375em) { /* Small only */
  #navbar #menu { display: none; }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
